/* Move down content because we have a fixed navbar that is 50px tall */
body {
    /*padding-top: 50px;*/
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
/*input, textarea*/
select {
    max-width: 280px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }

    .body-content {
        padding: 0;
    }
}

.lst {
    margin-left: 0 !important;
}

.btnclass {
    display: none;
}

.setColor {
    background-image: url(cp_button-16.png);
    background-repeat: no-repeat;
    padding: 10px;
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-weight: normal;
    line-height: 1;
}

.statusColor {
    background-color: #00FFCC;
    padding: 2px 5px 2px 5px;
    border-radius: 25px;
}


.text-align-justify {
    text-align: justify;
}

.mm-menu.mm-right {
    border: solid 1px #b8dcf5;
    color: #222222;
}

html.mm-blocking #mm-blocker {
    box-shadow: 2px 0px 5px 0px #aaaaaa;
}

.mm-menu .mm-search input {
    text-align: right;
    border: solid 1px #b8dcf5;
    height: 32px;
    background-color: #ffffff;
}

.mm-panel.mm-hasnavbar .mm-navbar {
    background-color: #d8d8d8;
}

.mm-navbar .mm-btn:first-child {
    color: #333333;
}

.mm-menu .mm-navbar > *, .mm-menu .mm-navbar a {
    color: #000000;
    font-size: 14px;
    font-weight: bold;
}

.mm-listview > li a i {
    color: #0065ab;
    padding-left: 5px;
}

.mm-listview > li:hover {
    background-color: #ebebeb;
    border: solid 1px #b8dcf5;
    color: #000000;
}

.mm-menu .mm-listview > li .mm-next:after, .mm-menu .mm-listview > li .mm-arrow:after {
    border-color: #0065ab;
}

.mm-menu .mm-navbar .mm-btn:before, .mm-menu .mm-navbar .mm-btn:after {
    border-color: #0065ab;
}

.divNavigation {
    margin-top: -10px;
    padding-right: 2.6%;
    padding-bottom: 0;
    position: fixed;
    width: 100%;
    background: white;
    z-index: 0;
    box-shadow: 0px 1px 5px 1px #757575;
}

.modal-open {
    margin-top: -80px;
}

.minHeight250 {
    min-height: 250px;
}

.divSearch {
    margin-top: 20px;
}




.custom-grid {
}

.EmptyRowStyle {
    background-color: #ffffff;
}



.SelectedRowStyle {
    background-color: #efeaea;
}

.EditRowStyle {
    background-color: #efeaea;
}

/*.HeaderStyle {
    font-size: 14px;
    background-color: #c1cbce;
    text-align: center;
    height: 35px;
    color: #6484e5;
}*/
.HeaderStyle {
    border: solid 2px #2679f9;
    box-shadow: 0px 5px 10px 2px #aaa;
    word-spacing: 1px;
}

    .HeaderStyle th {
        background-color: #488df5 !important;
        color: #ffffff;
    }

        .HeaderStyle th a {
            color: #bbecff;
        }

            .HeaderStyle th a:hover {
                color: #d2f2ff;
            }

.RowStyle {
    background-color: #ffffff;
    padding-top: 5px;
}

    .RowStyle:hover {
        background-color: #efeaea;
    }



.AltRowStyle {
    background-color: #f9f9f9;
    padding-top: 5px;
}

    .AltRowStyle:hover {
        background-color: #efeaea;
    }

tr.RowStyle:hover td,
tr.RowStyle.over td {
    background-color: #d6e3f1 !important;
}

tr.AltRowStyle:hover td,
tr.AltRowStyle.over td {
    background-color: #d6e3f1 !important;
}

.buttonHover {
}

    .buttonHover:hover {
        box-shadow: 0px 0px 5px 3px #bbb;
    }

.divBorder {
    border: solid 1px #ebebeb;
    border-radius: 5px;
    padding: 5px;
}

.buttonContainer {
    border-top: solid 1px #ccc;
    padding-top: 5px !important;
}

.pagerLTR a {
    color: #000000 !important;
    margin-right: 5px;
    border: solid 1px #999;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}

    .pagerLTR a:hover {
        background-color: #488df5;
        color: #ffffff !important;
        margin-right: 5px;
        border: solid 1px #3bafda;
        padding: 2px 5px 2px 5px;
        border-radius: 5px;
    }

.pagerLTR span {
    background-color: #488df5;
    color: #ffffff !important;
    margin-right: 5px;
    border: solid 1px #3bafda;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
}

.sortBox {
}

    .sortBox a {
        /*border: solid 1px #999;*/
        border-radius: 5px;
        padding: 5px;
        margin-left: 5px;
        float: right;
        width: auto;
    }

.labelTitle {
    font-weight: bold;
    width: 140px;
}

.warning {
    padding: 5px 10px 5px 10px;
}

.multiSelectAddButton {
    width: 35px;
    height: 35px;
    border: none;
    color: #ffffff;
    background-color: #01b9ff;
    font-size: 20px;
}

    .multiSelectAddButton:hover {
        background-color: #008fc5;
    }

.multiSelectRemoveButton {
    width: 35px;
    height: 35px;
    border: none;
    color: #ffffff;
    background-color: #f75454;
    font-size: 20px;
}

    .multiSelectRemoveButton:hover {
        background-color: #f52d2d;
    }

.highcharts-tooltip {
    z-index: 9999 !important;
    text-align: right;
}

.headerTitle {
    display: flex;
    color: #0097ff;
}

    .headerTitle:before,
    .headerTitle:after {
        content: '';
        margin: auto 1em;
        border-bottom: solid 1px;
        flex: 1;
    }

    .headerTitle .title {
        position: relative;
        padding: 0.25em 1em;
        overflow: hidden;
        background: linear-gradient(currentcolor, currentcolor) no-repeat top center, linear-gradient(currentcolor, currentcolor) no-repeat bottom center;
        background-size: calc(100% - 1.65em) 1px;
    }

        .headerTitle .title:before,
        .headerTitle .title:after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            border: solid 1px;
            border-top: none;
            border-bottom: none;
            -ms-transform: skew(45deg);
            -webkit-transform: skew(45deg);
            transform: skew(45deg)
        }

        .headerTitle .title:after {
            -ms-transform: skew(-45deg);
            -webkit-transform: skew(-45deg);
            transform: skew(-45deg)
        }

.rowsCount {
    /*background-color: #003990;*/
    font-size: 14px;
    color: #000000;
    border: solid 1px #3bafda;
    padding: 2px 5px 2px 5px;
    border-radius: 5px;
    margin-right: 5px;
}

.pagingContainer {
    width: 95%;
    margin-top: 10px;
    margin-bottom: 5px;
}
